*{
    margin : 0 ; 
    padding: 0;
}
:root {
    --header-bg-color : #412567 ; 
    
    --gradient-color : linear-gradient( 47.45deg,  #F7E93F 0%, #FB09B4  51%, #9100F8 100%);
}
.inter  {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
header {
    background-color: var(--header-bg-color);
}
/* Navbar */
nav {
    max-width: 1600px;
    justify-content : space-between; 
      
    display: flex;
    
    margin: 0px auto;
    padding : 10px ;
    
    align-items: center;
    /* border: 2px solid purple; */
}
nav h2 {
    color: whitesmoke;
}
.navbar-features {
    display: flex;
    gap : 32px ;
    list-style: none;
}
.navbar-features  a {
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    font-weight: medium;

}


/* Banner */

#banner {
    background-image: url("./assets/hero-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 760px;  
    border: 2px solid teal;
    align-items: center;
    
   
}
.banner-container {
    
    
    max-width: 560px;
    
    border: 1px solid teal;
    margin : 101px 525px;
}




/* Template's that can be used in various places */
.gradient-button {
  background : var(--gradient-color); 
  border : none;
  padding : 12px 16px;
  color : white;
  cursor: pointer;
  border-radius: 2em;
  font-size: 16px;
  font-weight: 400;

}
.gradient-button img {
    height: 15px;
    width: 15px;
    
}
.gradient-font{
    /* color: var(--gradient-color); */
    color: var(--gradient-bg-color) ; 
    font-size: 40px;
    font-weight: 700;
}